@media screen and (max-width: 1200px) {
    .section2 .recipe {
        width: 704px;
        margin: 0 auto;
        justify-content: center;
    }
    .desktop-nav .right .links {
        display: none;
    }
    .desktop-nav .right .sm {
        display: none;
    }
    .section3 main {
        justify-content: center;
    }
    .section3 main img {
        width: 614px
    }
    .section3 main .text {
        width: 550px
    }
}