@font-face {
    font-family: montserrat;
    src: url("font/Montserrat-VariableFont_wght.ttf");
}


html, body {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}


/* Navbar styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 64px);
    max-width: 1136px;
    height: 24px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 32px;
    position: static;
}

.desktop-nav .left {
    display: flex;
}

.desktop-nav .right {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 100%;
}

.desktop-nav .right .links {
    display: flex;
    gap: 24px;
    height: 100%;
    align-items: center;
    margin-right: 137px;
}

.desktop-nav .right .sm {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    height: 24px;
}


/* Header styles */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 144px);
    margin: 0 auto;
    height: 179px;
    border-radius: 30px;
    background-image: url("images/header.png");
    background-size: cover;
    padding: 381px 40px 40px 40px;
    margin-bottom: 72px;
}

.header .text {
    width: 484px;
    line-height: 34px;
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.header .buttons .buynow-button {
    padding: 14px 40px;
    background-color: #FD9222;
    border: 0;
    border-radius: 45px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-right: 14px;
}

.header .buttons .buynow-button:hover {
    background-color: #FCF1E0;
    color: #FD9222;
}

.header .buttons .howitsmade-button {
    padding: 14px 40px;
    background-color: transparent;
    border-radius: 45px;
    border-color: white;
    color: white;
    border-width: 1px;
}

.header .buttons .howitsmade-button:hover {
    color: #FD9222;
    border-color: #FD9222;
}

.header .buttons span {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.section1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 100px);
    min-height: 244px;
    background-color: #1E1823;
    padding: 50px;
    margin-bottom: 128px;
}

.section1 .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 326px;
    height: 244px;
    color: white;
    margin-bottom: 20px;
}

.section1 .item h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.section1 .item p {
    margin: 0;
    font-size: 14px;
    color: #ffffffb6;
}

.section2 {
    max-width: 1136px;
    margin: 0 32px;
    margin-bottom: 128px;
}

.section2 h1 {
    width: 450px;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 28px;
}

.section2 p {
    max-width: 520px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.section2 .recipe {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.section2 .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    width: 214px;
    height: 214px;
    padding: 28px;
}

.section2 .item h2 {
    font-size: 14px;
    margin: 0;
}

.section2 .black {
    background-color: #1E1823;
    color: white;
}
.section2 .orange {
    background-color: #FD9222;
    color: white;
}
.section2 .white {
    width: 213px;
    height: 213px;
    background-color: white;
    border: 1px #FD9222 solid;
    color: black;
}


